@media(max-width:950px){
  .main .imgMain{
    max-width: 50rem;
  }
}

@media(max-width:845px){
  .main .imgMain{
    max-width: 50rem;
  }

  .header .imgHeader{
    max-width: 12rem
  }

  .main{
    flex-direction: column;
  }

  .main .sectionMain{
    text-align: center;
  }

  .footer{
    justify-content: center;
  }

  .footer .navFooter{
    padding-left: 40px;
  }
}
